.login_container{
    -fx-background-color: #E3D4FF;
}
.linear-grad{
    -fx-background-color: linear-gradient(to bottom left, #E3D4FF, #432C81);
}
.button1{
    -fx-background-radius: 20;
    -fx-background-color: #E3D4FF;
    -fx-text-fill: #000000;
}
.report-container{
    -fx-alignment : center;
}
.label-text{
        -fx-text-fill: #432C81;
}
.pane_container{
     -fx-background-radius: 20;
}
.button_danisan{
    -fx-background-radius: 20;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.danisan_icerik{
    -fx-background-radius: 50;
     -fx-background-color: #ffffff;
}